accelerate
aiohappyeyeballs
aiohttp
aiosignal
asttokens
attrs
audioop-lts
audioread
certifi
cffi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
dill
evaluate
executing
filelock
fonttools
frozenlist
fsspec
hf-xet
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
multidict
multiprocess
nest-asyncio
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
setuptools
six
soundfile
soxr
stack-data
standard-aifc
standard-chunk
standard-sunau
streamlit==1.35.0
sympy
threadpoolctl
tokenizers
torch==2.7.1
torchaudio==2.7.1
tornado
tqdm
traitlets
transformers==4.52.4
triton
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
